body {
    background-color: #ecf0f1;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    font-family: 'Roboto', sans-serif;
}

.main-title {
    font-family: 'Roboto', sans-serif;
    color: #3F729B;
}

.feature-img {
    border: 3px solid #3F729B;
}

p.lead {
    font-size: 28px;
}

.outline {
  border: 1px solid black;
}

td.checkerboardgrey {
  background-color: #DDD;
}

td.checkerboardblue {
  background-color: #DDF;
}

th.columnheader {
  font-weight: bold;
}

th.push {
  min-width: 120px;
}

table {
  width: 100%;
}

.indent {
  margin-left: 10%;
}
